@import '../variables';
@import '../mixins';

header {
    @include flex-center(row);
    height: 70px;
    padding: 0 30px;
    background-color: $header-bg;
    h1 {
        flex-grow: 1;
        color: $header-font-color;
    }
    button, input {
        border: none;
        height: 25px;
    }
    input {
        padding: 0;
    }
}