@import '../variables';

.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $sidebar-bg;
}

// mobile view makes 2 cols for the list.
@media only screen and (max-width: 800px) {
    .Sidebar {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap
    }
};