@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

@mixin content-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}